<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramo.campuslive">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 地图包、搜索包需要的基础权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!--  -->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JHb6fbf28503090e2d12d64abeec8d895c" />

        <service
            android:name="com.letvcloud.cmf.MediaService"
            android:process=":cmf" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
        </activity>
        <activity android:name=".LogActivtiy" />
        <activity
            android:name=".RegisterActivity_"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".LoginActivity" >
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ApplyForHostActivity_" />
        <activity android:name=".RankingsActivity_" />
        <activity android:name=".BalancePaymentsActivity_" />
        <activity android:name=".GuessingActivity_" />
        <activity android:name=".PersonalCenterActivity_" />
        <activity android:name=".BeginLiveSettingActivity_" />
        <activity android:name=".ClassifyActivity_" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".LiveRoomSettingActivity_" />
        <activity android:name=".LiveSettingParent" />
        <activity android:name=".EditPersonalInformation_" />
        <activity android:name=".SetActivity_" />
        <activity android:name=".GiftShopActivity_" />
        <activity android:name=".TopUpActivity_" />
        <activity android:name=".FansActivity_" />
        <activity android:name=".ContributionListActivity_" />
        <activity android:name=".ChatActivity_" />
        <activity android:name=".MyGuessingActivity_" />
        <activity android:name=".LoveWallActivity"/>
        <activity android:name=".MapLiveActivity_" />
        <activity android:name=".MyGuessingDetailsActivity_" />
        <activity android:name=".ThemeCreateActivity_" />
        <activity android:name=".ThemeLiveActivity_" />
        <activity android:name=".CharityDetailsActivity_" />
        <activity
            android:name=".DoubleLiveActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DoubleLiveHostActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity
            android:name=".DoubleLiveResultActivity_"
            android:screenOrientation="landscape" />
        <activity android:name="com.tim.shadow.ball.BallActivity" />
        <!-- MediaPlay -->

        <activity
            android:name="com.juss.mediaplay.FeedBackActivity"
            android:label="@string/title_activity_feed_back" />

        <activity
            android:name="com.juss.live.RecorderActivity"
            android:label="@string/title_activity_recorder" />
        <activity android:name=".AddCommunityActivity_" />
        <activity android:name="com.juss.mediaplay.ThemeBasketballActivity">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <fragment android:name="com.ramo.campuslive.fragment.PersonalAttentionFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.PersonalMyCommunityFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.PersonalMyLiveFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.PersonalFansFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.ClassifyFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.DoubleLiveListFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.ThemeListFragment_" />
        <fragment android:name="com.ramo.campuslive.fragment.CharityFragment_" />

        <activity
            android:name="com.juss.live.SeePlayActivity"
            android:label="@string/title_activity_see_play">
            <!--   <intent-filter>
                   <action android:name="android.intent.action.MAIN" />
                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>-->
        </activity>
        <activity
            android:name="com.juss.live.PlayNoSkinActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.juss.live.LiveClassPlayActivity"
            android:theme="@style/PlayTheme"/>
        <activity android:name=".Pip2Activity" />
        <activity android:name="com.juss.mediaplay.CharityAuthenticateActivity" />

        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'57a92eb8'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Campuslive" />

    </application>

</manifest>
